/* Container styling */
.container {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Individual to-do item */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Text inside the item */
.item-text {
  flex-grow: 1;
  font-size: 16px;
}

/* Buttons styling */
button {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.delete-button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: tan;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.delete-button:hover,
.delete-button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.delete-button:active {
  background: var(--color);
  color: #df0f0f;
}

.update-button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #12285a;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.update-button:hover,
.update-button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.update-button:active {
  background: var(--color);
  color: #fff;
}


.update-button:hover {
  background: #0073e6;
}

.input-container{
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
}
.task-input{
  width: 100%;
  border-radius: 0.5rem;
  border: 2px;
  
}
.add-button{
  color: #0073e6;
  border-radius: 0.5rem;
  border: 2px;
}